@model string
@using System.Linq
@using System.Web.Optimization
@using Dorna
@using Dorna.Web.Mvc
@{
    Layout = "~/Views/Shared/_AceBlank.cshtml";
}
@*//TODO: page shows sidebar at its first load*@
<div data-ng-app="Dorna" class="ng-cloak">
    <div data-ui-view=""></div>
</div>

@section Scripts
{
    @Scripts.Render("~/Bundle/Scripts/angular")
    <script>
        var deps = ['ngSanitize',
                    'http-auth-interceptor',
                    'ui.router',
                    'ui.bootstrap',
                    'ui.utils',
                    'ngCookies',
                    'ngAnimate',
                    'Security',
                    'Localization',
                    'ReportProvider',
                    'Dap',
                    'ui.select2',
                    'ui.slider',
                    'localytics.directives',
                    'ngFileUpload',
                    'AngularPrint',
                    'ngIdle',
                    'ui.sortable',
                    'ngPatternRestrict',
                    @Html.Raw(Model)];//'xeditable'
        angular.module('Dorna', deps);
    </script>
    @Scripts.Render("~/Bundle/Scripts/app")
}

