@using Dorna.Web.Resources
<div class="row" ng-if="unAuthorizedCtrl.type == 1">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="alert alert-warning">@Messages.User_No_Role_Assigned</p>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="unAuthorizedCtrl.type == 2">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="alert alert-warning">@Messages.User_No_Permission_Assigned</p>
            </div>
        </div>
    </div>
</div>