@{
    if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["SideBarWidth"])) {
        var widthStyle = System.Configuration.ConfigurationManager.AppSettings["SideBarWidth"]+"px !important";
        <style>
            .sidebar{
                width: @widthStyle;
            }
            .sidebar:before{
                width: @widthStyle;
            }
            .rtl .main-content {
                margin-right: @widthStyle;
            }
            .ltr .main-content {
                margin-left: @widthStyle;
            }
        </style>
    }
    }
<div data-ui-view="navbar">
</div>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        @{
            if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["SideBarState"]))
            {
                var state = System.Configuration.ConfigurationManager.AppSettings["SideBarState"];
                state = state == "open" ? "" : "menu-min";
                <div data-ui-view="menu" id="sidebar" class="sidebar hidden-print @state">
                </div>
            }
            else
            {
                <div data-ui-view="menu" id="sidebar" class="sidebar hidden-print">
                </div>
            }
        }
        <div class="main-content">
            <div id="notification-container">
            </div>
            <div data-ui-view="main" class="page-content">
            </div>
        </div>
    </div>
</div>
